img {
  height: 20px;
  width: auto;
  margin: 10px;
}

.senPic {
  width: 70%;
  height: auto;
  display: block;
  margin: auto;
}

#webImg {
  height: 30px;
}

.contactBtns {
  text-align: center;
}

h4 {
  text-align: center;
}
