<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/houserep.css">
    <title></title>
  </head>
  <body>
    <h1>House Representative: {{repCtrl.rep.first_name}} {{repCtrl.rep.last_name}}</h1>
    <hr>
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <img id="repPic" src="http://bioguide.congress.gov/bioguide/photo/{{repCtrl.rep.member_id.charAt(0)}}/{{repCtrl.rep.member_id}}.jpg" alt="">
          <div class="contactBtns">
            <a href="https://facebook.com/profile.php?id={{repCtrl.rep.facebook_id}}" target="_blank"><img src="/images/fb_icon.jpg" alt=""></a>
            <a href="https://twitter.com/{{repCtrl.rep.twitter_account}}" target="_blank"><img src="/images/twitter_icon.png" alt=""></a>
            <a href="https://youtube.com/user/{{repCtrl.rep.youtube_account}}" target="_blank"><img src="/images/youtube_icon.png" alt=""></a>
            <a href="{{repCtrl.rep.url}}" target="_blank"><img id="webImg" src="/images/web_icon.png" alt=""></a>
          </div>
          <h3 class="party">{{repCtrl.party}} - {{repCtrl.rep.roles[0].state}} District {{repCtrl.rep.roles[0].district}}</h3>
        </div>
        <div class="row role" ng-repeat="role in repCtrl.rep.roles">
          <small>{{role.chamber}} {{role.congress}} From: {{role.start_date}} to {{role.end_date}}</small>
          <div class="row">
            <div class="stat col-xs-4">
              <h6>Missed Votes</h6>
              <h6>{{role.missed_votes_pct}}%</h6>
            </div>
            <div class="stat col-xs-4">
              <h6>Votes With Party</h6>
              <h6>{{role.votes_with_party_pct}}%</h6>
            </div>
            <div class="stat col-xs-4">
              <h6>Seniority</h6>
              <h6>{{role.seniority}}</h6>
            </div>
          </div>
          <div class="row">
            <div class="stat col-xs-6">
              <h6>Bills Sponsored</h6>
              <h6>{{role.bills_sponsored}}</h6>
            </div>
            <div class="stat col-xs-6">
              <h6>Bills Cosponsored</h6>
              <h6>{{role.bills_cosponsored}}</h6>
            </div>
          </div>
          <div class="row">
            <ul ng-repeat="committee in role.committees">
              <li>{{committee.name}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <h2>Votes</h2>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="row vote panel panel-default" ng-repeat="vote in repCtrl.repVotes track by $index">
            <small class="billNum">{{vote.bill.number}}</small>
            <small class="billDate">{{vote.chamber}} {{vote.congress}} {{vote.date}}</small><br/>
            <div class="panel-heading" role="tab" id="headingOne">
              <h5 class="panel-title">Vote: {{vote.position}} - {{vote.question}}</h5>
              <p><span class="concern">Concerning:</span> {{vote.description}}</p>
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse{{$index}}" aria-expanded="false" aria-controls="collapse{{$index}}" ng-click="repCtrl.rollCall(vote.congress, vote.session, vote.roll_call, $index)">More
              </button>
            </div>
            <div id="collapse{{$index}}" class="panel-collapse collapse" role="tabPanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-3">
                    <h5>Outcome<br/>{{repCtrl.voteData[$index].result}}</h5>
                    <h6>No Votes <span class="badge">{{repCtrl.voteData[$index].total.no}}</span></h6>
                    <h6>Yes Votes <span class="badge">{{repCtrl.voteData[$index].total.yes}}</span></h6>
                    <h6>Present <span class="badge">{{repCtrl.voteData[$index].total.present}}</span></h6>
                    <h6>Not Voting: <span class="badge">{{repCtrl.voteData[$index].total.not_voting}}</span></h6>
                  </div>
                  <div class="col-xs-3">
                    <h5>Democrat Votes</h5>
                    <h5>Majority: {{repCtrl.voteData[$index].democratic.majority_position}}</h5>
                    <h6>No Votes <span class="badge">{{repCtrl.voteData[$index].democratic.no}}</span></h6>
                    <h6>Yes Votes <span class="badge">{{repCtrl.voteData[$index].democratic.yes}}</span></h6>
                    <h6>Present <span class="badge">{{repCtrl.voteData[$index].democratic.present}}</span></h6>
                    <h6>Not Voting: <span class="badge">{{repCtrl.voteData[$index].democratic.not_voting}}</span></h6>
                  </div>
                  <div class="col-xs-3">
                    <h5>Republican Votes</h5>
                    <h5>Majority: {{repCtrl.voteData[$index].republican.majority_position}}</h5>
                    <h6>No Votes <span class="badge">{{repCtrl.voteData[$index].republican.no}}</span></h6>
                    <h6>Yes Votes <span class="badge">{{repCtrl.voteData[$index].republican.yes}}</span></h6>
                    <h6>Present <span class="badge">{{repCtrl.voteData[$index].republican.present}}</span></h6>
                    <h6>Not Voting: <span class="badge">{{repCtrl.voteData[$index].republican.not_voting}}</span></h6>
                  </div>
                  <div class="col-xs-3">
                    <h5>Independent Votes</h5>
                    <h6>No Votes <span class="badge">{{repCtrl.voteData[$index].independent.no}}</span></h6>
                    <h6>Yes Votes <span class="badge">{{repCtrl.voteData[$index].independent.yes}}</span></h6>
                    <h6>Present <span class="badge">{{repCtrl.voteData[$index].independent.present}}</span></h6>
                    <h6>Not Voting: <span class="badge">{{repCtrl.voteData[$index].independent.not_voting}}</span></h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <h2>Votes</h2>
        <div class="row vote" ng-repeat="vote in repCtrl.repVotes">
          <small class="billNum">{{vote.bill.number}}</small>
          <small class="billDate">{{vote.chamber}} {{vote.congress}} {{vote.date}}</small><br/>
          <h5>{{vote.bill.title}}</h5>
          <h5>Vote: {{vote.position}} - {{vote.question}}</h5>
          <p><span class="concern">Concerning:</span> {{vote.description}}</p>
        </div> -->
      </div>
    </div>

  </body>
</html>
